BOT_TOKEN=
BOT_TOKEN_DEV=
BOT_OWNER_ID=515178853967331328
BOT_INVITE_URL=https://discord.com/invite/pPPDgHR
BOT_COMMAND_PREFIX=m!
DEFAULT_LANG=en
LOG_CHANNEL_ID=766002411323654166
LOG_CHANNEL_ID_DEV=726178171858190340
PLACID_TOKEN=